.vscode/**
.vscode-test/**
src/**
.github/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts

# Ignore all webview-ui files except the build directory
webview-ui/src/**
webview-ui/public/**
webview-ui/scripts/**
webview-ui/.gitignore
webview-ui/README.md
webview-ui/package.json
webview-ui/package-lock.json
webview-ui/node_modules/**

